.loading {
	@apply text-blue-400 text-2xl flex justify-center align-middle;
}
.filter {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button {
	@apply w-2/12 mr-auto transition-colors duration-500 ease-in-out block bg-[#B7E919] border-[#688609] border-solid uppercase px-5 py-3;
}

@media screen and (max-width: 480px) {
	.filter {
		flex-direction: column;
	}
}
